In [ ]:
#Name: Sam Liang
#Prof. Feldman
#CIS 9650
#Final Project due 5/10/22

                                               ###Assignment###
#The management team at Amalgamated Bank Corp (ABC) has asked you to step in as a data analyst. 
#They heard about your rapidly developing Python skills and would like you to help them out.
#They are a bank. Their business consists of issuing loans. Their problem is that they know very little about 
#their data. They have a data file that has over 300k loans they have issued. The dataset describes information 
#about each loan. The dataset contains loan amount issued and many other fields that describe the client’s 
#credit factors, such as whether they own their own home or not, their income, how long it has been since they 
#were delinquent on an account, how many years since they received their first credit line, etc.
#The problem is that ABC has no idea who their clients are and what their data can tell them about their business. 
#They have asked for your guidance. They have provided a data file and a data dictionary.  
#The data dictionary contains a list of fields in the dataset and an explanation for each one. 
#(To simplify the project, many irrelevant fields have been removed from the dataset.  
#Those fields still appear in the dictionary, however).

In [ ]:
# To help our client, here are the steps to take:
# 1. Cleanse
# Look for null data in the table, and use the appropriate strategy to handle null data for each column. 
# Explain why this was the strategy that you used.

# 2. Outliers
# Search the data for outliers and remove them. Use the appropriate outlier method(s). Show all work.

# 3. Who are our clients?
# The ABC Management team has no idea who their customers are. They don’t know anything about the type of 
# employment and age, income of their clients. They need to know some macro information about their data.  
# How much (total) do they have out in loans? How much are in default/late? What percentage of the business are 
# default and late?
# Along with the information above, provide three other demographics of their customers.
# Remember, we are dealing with senior management. The charts must be readable, meaningful, and at a summary level
# Use at least one group/by or bin in your analysis

# 4. Who defaults or has problems replaying loans?
# Create visualizations to show management qualities specific to those who are in default/late. Show three 
# meaningful visualizations.
# Use at least one group/by or bin in your analysis.
#  
# 5. Prepare the data for a regression analysis
# The ABC management team has heard that it might be possible to use their data to make predictions.  
# They don’t know much about data analytics. We are hoping that an example of what is possible will help them 
# understand better.
# Prepare the data file to run with a regression analysis. Use the techniques and methods discussed in class.

# 6. Run the regression analysis
# Show scoring and a confusion matrix. You do not need to split the data.  Running it as a full dataset is fine.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

In [2]:
df = pd.read_csv('application_train.csv')
#df = pd.read_csv('application_train.csv')

In [3]:
del df['SK_ID_CURR']
#or also can use: 
#df = df.drop(columns = ['SK_ID_CURR'])

In [4]:
df

,Unnamed: 1,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,TARGET
0,NaN,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,...,Laborers,1.0,0,0,0,0,0,0,Business Entity Type 3,1
1,NaN,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,...,Core staff,2.0,0,0,0,0,0,0,School,0
2,NaN,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,...,Laborers,1.0,0,0,0,0,0,0,Government,0
3,NaN,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,...,Laborers,2.0,0,0,0,0,0,0,Business Entity Type 3,0
4,NaN,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,...,Core staff,1.0,0,0,0,0,1,1,Religion,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,NaN,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,225000.0,...,Sales staff,1.0,0,0,0,0,0,0,Services,0
307507,NaN,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,225000.0,...,NaN,1.0,0,0,0,0,0,0,XNA,0
307508,NaN,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,585000.0,...,Managers,1.0,0,0,0,0,1,1,School,0
307509,NaN,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,319500.0,...,Laborers,2.0,0,0,0,1,1,0,Business Entity Type 1,1
307510,NaN,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,675000.0,...,Laborers,2.0,0,0,0,0,1,1,Business Entity Type 3,0

In [5]:
#Delete the empty column
df.drop(df.columns[0], axis=1, inplace=True)

In [6]:
df

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,...,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,TARGET
0,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,...,Laborers,1.0,0,0,0,0,0,0,Business Entity Type 3,1
1,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,...,Core staff,2.0,0,0,0,0,0,0,School,0
2,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,...,Laborers,1.0,0,0,0,0,0,0,Government,0
3,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,...,Laborers,2.0,0,0,0,0,0,0,Business Entity Type 3,0
4,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,...,Core staff,1.0,0,0,0,0,1,1,Religion,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,225000.0,Unaccompanied,...,Sales staff,1.0,0,0,0,0,0,0,Services,0
307507,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,225000.0,Unaccompanied,...,NaN,1.0,0,0,0,0,0,0,XNA,0
307508,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,585000.0,Unaccompanied,...,Managers,1.0,0,0,0,0,1,1,School,0
307509,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,319500.0,Unaccompanied,...,Laborers,2.0,0,0,0,1,1,0,Business Entity Type 1,1
307510,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,675000.0,Unaccompanied,...,Laborers,2.0,0,0,0,0,1,1,Business Entity Type 3,0

In [7]:
# 1. Cleanse
# Look for null data in the table, and use the appropriate strategy to handle null data for each column. 
# Explain why this was the strategy that you used.

# We have two strategies that we saw in class:
# 1. Drop the column entirely if it's not helpful data
# 2. Fill the null data with a descriptive statistic (mean, median, mode)

In [8]:
df.info()
#df.info()
#We see that the following six columns have null data:
#AMT_ANNUITY (index 7), AMT_GOODS_PRICE (index 8), NAME_TYPE_SUITE (index 9), OWN_CAR_AGE (index 18), 
#OCCUPATION_TYPE (index 25), CNT_FAM_MEMBERS (index 26)
#Note: These indices refer to the latest dataframe where two columns have been dropped.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 35 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   NAME_CONTRACT_TYPE           307511 non-null  object
 1   CODE_GENDER                  307511 non-null  object
 2   FLAG_OWN_CAR                 307511 non-null  object
 3   FLAG_OWN_REALTY              307511 non-null  object
 4   CNT_CHILDREN                 307511 non-null  int64
 5   AMT_INCOME_TOTAL             307511 non-null  float64
 6   AMT_CREDIT                   307511 non-null  float64
 7   AMT_ANNUITY                  307499 non-null  float64
 8   AMT_GOODS_PRICE              307233 non-null  float64
 9   NAME_TYPE_SUITE              306219 non-null  object
 10  NAME_INCOME_TYPE             307511 non-null  object
 11  NAME_EDUCATION_TYPE          307511 non-null  object
 12  NAME_FAMILY_STATUS           307511 non-null  object
 13  NAME_HOUSING_TYPE            307511 non-null  object
 14  DAYS_BIRTH                   307511 non-null  int64
 15  DAYS_EMPLOYED                307511 non-null  int64
 16  DAYS_REGISTRATION            307511 non-null  float64
 17  DAYS_ID_PUBLISH              307511 non-null  int64
 18  OWN_CAR_AGE                  104582 non-null  float64
 19  FLAG_MOBIL                   307511 non-null  int64
 20  FLAG_EMP_PHONE               307511 non-null  int64
 21  FLAG_WORK_PHONE              307511 non-null  int64
 22  FLAG_CONT_MOBILE             307511 non-null  int64
 23  FLAG_PHONE                   307511 non-null  int64
 24  FLAG_EMAIL                   307511 non-null  int64
 25  OCCUPATION_TYPE              211120 non-null  object
 26  CNT_FAM_MEMBERS              307509 non-null  float64
 27  REG_REGION_NOT_LIVE_REGION   307511 non-null  int64
 28  REG_REGION_NOT_WORK_REGION   307511 non-null  int64
 29  LIVE_REGION_NOT_WORK_REGION  307511 non-null  int64
 30  REG_CITY_NOT_LIVE_CITY       307511 non-null  int64
 31  REG_CITY_NOT_WORK_CITY       307511 non-null  int64
 32  LIVE_CITY_NOT_WORK_CITY      307511 non-null  int64
 33  ORGANIZATION_TYPE            307511 non-null  object
 34  TARGET                       307511 non-null  int64
dtypes: float64(7), int64(17), object(11)
memory usage: 82.1+ MB

In [ ]:
#a. AMT_ANNUITY; Description: Loan Annuity
#Strategy: Fill the null data with the median value. 
#I decided to choose this strategy because the AMT_ANNUITY column provides important information about
#how much each person is paying. 
med1 = df['AMT_ANNUITY'].median()
med1
#Median: $24903
#med1 = df['AMT_ANNUITY'].median()
#med1

In [ ]:
df['AMT_ANNUITY'].fillna(med1, inplace=True)
df.info() #We see that the null values have now been filled for the AMT_ANNUITY column!
#df['AMT_ANNUITY'].fillna(med1, inplace=True)
#df.info()

In [ ]:
#b. AMT_GOODS_PRICE; Description: For consumer loans it is the price of the goods for which the loan is given
#Strategy: Fill the null data with the median value. 
#I decided to choose this strategy because the AMT_GOODS_PRICE column provides important information about
#how much the goods, for which the loan was given, cost.
med2 = df['AMT_GOODS_PRICE'].median()
med2
#Median: $450,000
#med2 = df['AMT_GOODS_PRICE'].median()

In [ ]:
df['AMT_GOODS_PRICE'].fillna(med2, inplace=True)
df.info() #We see that the null values have now been filled!

In [ ]:
#c. NAME_TYPE_SUITE; Description: Who was accompanying client when he was applying for the loan
#Strategy: Drop the column entirely
#I decided to choose this strategy because the NAME_TYPE_SUITE column does not provide helpful information. 
#The person accompanying the client is irrelevant to what we are interested in, namely, how fiscally
#responsible the person is.
del df['NAME_TYPE_SUITE']

In [ ]:
df.info() #Check that the column has been deleted

In [ ]:
#d. OWN_CAR_AGE; Description: Age of client's car
#Strategy: Drop the column entirely
#I decided to choose this strategy because I deem the OWN_CAR_AGE column as not providing helpful information. 
#The age of the client's car is irrelevant to what we are interested in, namely, how fiscally
#responsible the person is.
del df['OWN_CAR_AGE']

In [ ]:
df.info() #Check that the column has been deleted

In [ ]:
#e. OCCUPATION_TYPE; Description: What kind of occupation does the client have
#Strategy: Fill the null data with NA.
#I decided to choose this strategy because the OCCUPATION_TYPE column provides relevant information about
#the person's industry which is related to their socioeconomic status (SES). Their SES may correlate with
#their level of fiscal responsibility. However, unlike the numerical data columns, this column contains
#categorical data, which makes it harder to generalize a default fill-in value. Therefore, I decided to fill it
#with the string 'NA'.
df['OCCUPATION_TYPE'].fillna('NA', inplace=True)

In [ ]:
df.info() #We see that the null values have now been filled.

In [ ]:
#f. CNT_FAM_MEMBERS; How many family members does client have
#Strategy: Fill the null data with the mode.
#I decided to choose this strategy because the CNT_FAM_MEMBERS column provides information about the person's
#family size which may relate to their cost of living. Though I predict a weak correlation between family size
#and the person defaulting on his/her loan, it may still be of interest. Here I choose to fill
#the null data with the median as I did for the other columns.
med3 = df['CNT_FAM_MEMBERS'].median()
med3

In [ ]:
df['CNT_FAM_MEMBERS'].fillna(med3, inplace=True)

In [ ]:
df.info() #We see that the null values have now been filled.
#Part 1 complete!

In [ ]:
# 2. Outliers
# Search the data for outliers and remove them. Use the appropriate outlier method(s). Show all work.
df.describe() #data frame statistics
#Outliers to consider: 
#a. CNT_CHILDREN: max: 19 children
#b. AMT_INCOME_TOTAL: max: 1.17 x 10^8
#c. AMT_ANNUITY: max: $258025.50; compare with the mean of $27108.49
#d. CNT_FAM_MEMBERS: max: 20 members

#Note to Prof. Feldman: I would consider the AMT_INCOME_TOTAL and the AMT_ANNUITY maxima to be valid data points.
#However, I interpreted this second part of the project as an exercise in removing outliers. Statistically,
#we can consider these to be outliers but if I were to actually complete this as a statistics project, I would
#keep these two maxima because it is plausible to have someone whose income is $1.17 x 10^8 and someone's
#annuity amount to be $258025.50.
#The CNT_CHILDREN and CNT_FAM_MEMBERS extrema seem improbable, though not impossible. My final decision
#was to remove these two maxima.

In [ ]:
#a. CNT_CHILDREN outliers
plt.scatter(df['CNT_CHILDREN'], df['CNT_CHILDREN']) #checking to see if there are other outliers besides the 
#data point of 19 children
plt.show
#plt.scatter(df['CNT_CHILDREN'], df['CNT_CHILDREN'])

In [ ]:
#the maximum value for CNT_CHILDREN (a max value of 19) is well above the other values
childrenMax = df['CNT_CHILDREN'].max()
childrenMax
#childrenMax = df['CNT_CHILDREN'].max()
#childrenMax

In [ ]:
childrenMaxIndex = df[df['CNT_CHILDREN']==childrenMax].index.values
childrenMaxIndex
#Indices: 155369, 265784
#childrenMaxIndex = df[df['CNT_CHILDREN']==childrenMax].index.values

In [ ]:
df = df.drop(childrenMaxIndex)
#df = df.drop(childrenMaxIndex)

In [ ]:
df.describe() #Check to see that the two outliers have been dropped
#Success! The maximum for CNT_CHILDREN is now 14.

In [ ]:
plt.scatter(df['CNT_CHILDREN'], df['CNT_CHILDREN']) #checking the data points again
plt.show
#We now have a much more compact data set in terms of CNT_CHILDREN.

In [ ]:
#b. AMT_INCOME_TOTAL outliers
plt.scatter(df['AMT_INCOME_TOTAL'], df['AMT_INCOME_TOTAL']) #checking to see if there are other outliers besides the 
#data point of $1.17 x 10^8
plt.show

In [ ]:
#We see from the scatterplot that the data point of $1.17 x 10^8 is far above the others. Let's remove it.
amtIncomeMax = df['AMT_INCOME_TOTAL'].max()
amtIncomeMax
#117,000,000

In [ ]:
amtIncomeMaxIndex = df[df['AMT_INCOME_TOTAL']==amtIncomeMax].index.values
amtIncomeMaxIndex
#Index: 12840
#amtIncomeMaxIndex = df[df['AMT_INCOME_TOTAL']==amtIncomeMax].index.values

In [ ]:
df = df.drop(amtIncomeMaxIndex)

In [ ]:
df.describe()

In [ ]:
plt.scatter(df['AMT_INCOME_TOTAL'], df['AMT_INCOME_TOTAL']) #checking the data points again
plt.show
#We now have a more compact data set in terms of AMT_INCOME_TOTAL but it's still spread out.
#Let's drop values using the IQR.

In [ ]:
#Find Inter Quartile Range (IQR)
#Find the middle of the range between quantile 1 and quantile 3
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
#subtract Q3 from Q1 - this will give the desired range of data 
IQR = Q3 - Q1
#here are the ranges for the entire table
print(IQR)
#Q1 = df.quantile(0.25)
#Q3 = df.quantile(0.75)
#IQR = Q3-Q1
#print(IQR)

In [ ]:
#IQR just for the AMT_INCOME_TOTAL column
IQRincomeTotal =  Q3['AMT_INCOME_TOTAL'] - Q1['AMT_INCOME_TOTAL']
IQRincomeTotal

In [ ]:
#set the lower acceptable limit
#any value less than Q1 - (1.5*IQR) will be considered an outlier
below = Q1['AMT_INCOME_TOTAL'] - 1.5 * IQRincomeTotal
below
#A negative value of -22500 so there won't be any lower outliers

In [ ]:
#set the higher acceptable limit
#any value above Q3 + (3*IQR) will be considered an outlier 
above = Q3['AMT_INCOME_TOTAL'] + 3 * IQRincomeTotal
above
#Note: After seeing the initial higher limit of $337,500.00, I decided to change the outlier coefficient from
#1.5 to 3 to exclude only the extreme outliers.
#above = 472500.0

In [ ]:
#Anything outside of above ($472,500.00) and below ($-22,500) will be considered an outlier.
#The rows below are outliers. They are outside of the range of above and below.
#This will show the list of outliers.
df.loc[(df['AMT_INCOME_TOTAL']<below) | (df['AMT_INCOME_TOTAL'] > above)]
#df.loc[(df['AMT_INCOME_TOTAL'] < below) | (df['AMT_INCOME_TOTAL'] > above)]

In [ ]:
#Now we will create a new dataframe with only the non outliers.
#Notice how the logic is flipped from the above statement.
#This excludes all outliers and is written to a new dataframe.
#To save keystrokes later on, I'll call it df2 instead of df_no_outlier
df2 = df.loc[(df['AMT_INCOME_TOTAL'] >= below) & (df['AMT_INCOME_TOTAL'] <= above)] 
df2
#At this point, there are now 304495 entries compared to the 307511 we started with. 
#df2=df.loc[(df['AMT_INCOME_TOTAL'] >= below) & (df['AMT_INCOME_TOTAL'] <= above)]

In [ ]:
plt.scatter(df2['AMT_INCOME_TOTAL'], df2['AMT_INCOME_TOTAL']) #checking the data points again
plt.show
#Now very compact in terms of income!

In [ ]:
#c. AMT_ANNUITY outliers
plt.scatter(df2['AMT_ANNUITY'], df2['AMT_ANNUITY']) #let's examine the AMT_ANNUITY column
plt.show

In [ ]:
#After dropping the outliers in the AMT_INCOME_TOTAL column,
#the original maximum for AMT_ANNUITY ($258,025.50) was dropped as well.
amtAnnuityMax = df2['AMT_ANNUITY'].max()
amtAnnuityMax
#The new maximum is $225,000.00

In [ ]:
amtAnnuityMaxIndex = df2[df2['AMT_ANNUITY']==amtAnnuityMax].index.values
amtAnnuityMaxIndex
#Indices: 15501,  32100, 144204, 145707, 265026

In [ ]:
#We no longer have an outlier value to drop in AMT_ANNUITY (since we dropped them when dealing with the
#AMT_INCOME_TOTAL column).

In [ ]:
#d. CNT_FAM_MEMBERS outliers
plt.scatter(df2['CNT_FAM_MEMBERS'], df2['CNT_FAM_MEMBERS']) #And now let's explore the CNT_FAM_MEMBERS column
plt.show
#It seems the original outlier of 20 family members has been removed so no need to remove any more data points
#from this column.

In [ ]:
#After dropping everything, let's reset the index values:
df2 = df2.reset_index(drop=True)
df2
#df2 = df2.reset_index(drop=True)

In [ ]:
#Part 2 complete!

In [ ]:
# 3. Who are our clients?
# The ABC Management team has no idea who their customers are. They don’t know anything about the type of 
# employment and age, income of their clients. They need to know some macro information about their data.  
# How much (total) do they have out in loans? How much are in default/late? What percentage of the business are 
# default and late?
# Along with the information above, provide three other demographics of their customers.
# Remember, we are dealing with senior management. The charts must be readable, meaningful and at a summary level.
# Use at least one groupby or bin in your analysis.

In [ ]:
#a. Type of employment
dfEmploySub = df2.groupby(['OCCUPATION_TYPE'])['OCCUPATION_TYPE'].count()
#dfEmploySub = df2.groupby(['OCCUPATION_TYPE'])['OCCUPATION_TYPE'].count()

In [ ]:
dfEmploySub

In [ ]:
type(dfEmploySub)

In [ ]:
dfEmploySub.plot(kind = 'barh', title = 'Occupation Types of Our Clients')
plt.xlabel('Number of Clients')
plt.ylabel('Occupation Type')
#We see that, unfortunately, almost 100,000 clients did not provide information about their occupation type.
#The industries with the largest counts among our clients are laborers, sales staff, core staff, and managers.
#dfEmploySub.plot(kind = 'barh', title = 'Occupation Type of Our Clients')
#plt.xlabel('Number of Clients')
#plt.ylabel('Occupation Type')

In [ ]:
#b. Age of Clients
#Adding in an age column since our dataset has their age in days at the time of application.
#And it's a negative number so I will divide by negative 365 days.
df2['AGE'] = df2['DAYS_BIRTH']/(-365)
#df2['AGE'] = df2['DAYS_BIRTH']/(-365)

In [ ]:
df2

In [ ]:
#For exam:
df2.describe()
df2['Age Bin'] = pd.cut(df2['AGE'], bins = [20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70])
#create a new column in the dataframe
#use the cut method
df2['Age Bin']
(df2[['Age Bin', 'AGE']])

#Let's give our own bin names
df2['Age Bin'] = pd.cut(df2['AGE'], 
                        [20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70], 
                        labels=['20-25','25-30','30-35','35-40','40-45','45-50', '50-55', '55-60', '60-65', '65-70'])
df2

#Make sure that all buckets are filled or there may be issues running the report!
df2.info()
#Verified that the new Age Bin column has no null values (304495 non-null).

In [ ]:
#Check the spread of the age data before creating bins:
plt.scatter(df2['AGE'], df2['AGE']) 
plt.show
#plt.scatter(df2['AGE'], df2['AGE'])

In [ ]:
df2.describe()
#Min age is 20.517808; Max age is 69.120548

In [ ]:
df2['Age Bin'] = pd.cut(df2['AGE'], bins = [20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70])
#create a new column in the dataframe
#use the cut method

In [ ]:
df2['Age Bin']

In [ ]:
(df2[['Age Bin', 'AGE']])

In [ ]:
#Let's give our own bin names
df2['Age Bin'] = pd.cut(df2['AGE'], 
                        [20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70], 
                        labels=['20-25','25-30','30-35','35-40','40-45','45-50', '50-55', '55-60', '60-65', '65-70'])
df2
#Note to Prof. Feldman: I know that in our class example we did not overlap the labels but I decided to do so here.
#The original labels were '20-25', '26-30', etc. However, if we label it this way, the first data point with
#an age of 25.92 would fall under the label '26-30' which would be incorrect.

In [ ]:
#Make sure that all buckets are filled or there may be issues running the report!
df2.info()
#Verified that the new Age Bin column has no null values (304495 non-null).

In [ ]:
#Exam:
df2.head(50)
dfAgeSub = df2.groupby(['Age Bin'])['Age Bin'].count() #isolate the Age Bin column
dfAgeSub
dfAgeSub.plot(kind = 'bar', title = 'Ages of Our Clients')
plt.xlabel('Age Groups')
plt.ylabel('Number of Clients')
#We see that the age group with the most clients is the 35-40 age group.

In [ ]:
df2.head(50)

In [ ]:
dfAgeSub = df2.groupby(['Age Bin'])['Age Bin'].count() #isolate the Age Bin column

In [ ]:
dfAgeSub

In [ ]:
dfAgeSub.plot(kind = 'bar', title = 'Ages of Our Clients')
plt.xlabel('Age Groups')
plt.ylabel('Number of Clients')
#We see that the age group with the most clients is the 35-40 age group.

In [ ]:
#Note to self/Prof. Feldman: I originally tried using the following code to graph age. 
#This code mimics what we did in class but I ran into errors running these.

#Attempt 1:
#df2.plot(x=df2['Age Bin'], y=df2['AGE'], kind = 'bar', title = 'Ages of Our Clients')

#Attempt 2:
#A simple bar plot
#plt.bar(df2['Age Bin'], df2['AGE'], color = 'b')
#plt.show()

In [ ]:
#c. Income of Clients
#Check the spread of the age data before creating bins:
plt.scatter(df2['AMT_INCOME_TOTAL'], df2['AMT_INCOME_TOTAL']) 
plt.show()

In [ ]:
df2.describe()

In [ ]:
#create a new column called Income Bin in the dataframe using the cut method
df2['Income Bin'] = pd.cut(df2['AMT_INCOME_TOTAL'], 
                           bins = [0, 50000, 100000, 150000, 200000, 250000, 300000, 350000, 400000, 450000, 500000])

In [ ]:
df2

In [ ]:
#Let's give our own bin names
df2['Income Bin'] = pd.cut(df2['AMT_INCOME_TOTAL'], 
                        [0, 50000, 100000, 150000, 200000, 250000, 300000, 350000, 400000, 450000, 500000], 
                        labels=['0-50k','50k-100k','100k-150k','150k-200k','200k-250k','250k-300k', '300k-350k', 
                                '350k-400k', '400k-450k', '450k-500k'])
df2

In [ ]:
df2[['Income Bin', 'AMT_INCOME_TOTAL']] #checking if making bins worked all right

In [ ]:
df2.info() #Verifying that all Income Bin rows are filled (304495 non-null)

In [ ]:
dfIncomeSub = df2.groupby(['Income Bin'])['Income Bin'].count() #Isolate the Income Bin column
dfIncomeSub

In [ ]:
dfIncomeSub.plot(kind = 'bar', title = 'The Income Profile of Our Clients')
plt.xlabel('Income Level')
plt.ylabel('Number of Clients')
#Note: It's not visible on the plot but there were 125 clients in the 450k-500k income bracket.
#We see that the majority of our clients have an income between $50,000 and $250,000.
#There are some in the 0-50k income bracket and a minority of our clients have above $250,000.

In [ ]:
#d. Total out in loans
df2['AMT_CREDIT'].sum()
#Answer (after omitting outliers): $180,828,450,571.50 ~ 180 billion
#Note: Before omitting any outliers, the answer was $184,207,084,195.5 ~ 184 billion

In [ ]:
#e. How many loans are in default/late?
df2['TARGET'].sum()
#Answer: 24,663 loans are in default/late
#Note: Before omitting any outliers, the answer was 24825 loans.

In [ ]:
#f. What percentage of the business are default and late?
#The numerator uses the sum method which adds all the ones. 
#(The ones represent the loans that are in default/late.)
#The denominator uses the count method which counts all rows.
(df2['TARGET'].sum()/df2['TARGET'].count())*100 
#Answer: 8.099640388183714 percent.
#Note: Before omitting any outliers, the answer was 8.072881945686495 percent.
#After omitting outliers, the percentage went slightly up (by 0.02).
#(df2['TARGET'].sum()/df2['TARGET'].count())*100

In [ ]:
#Three other demographics
#g. Level of highest education the client achieved
dfEduSub = df2.groupby(['NAME_EDUCATION_TYPE'])['NAME_EDUCATION_TYPE'].count()
dfEduSub

In [ ]:
dfEduSub.plot(kind = 'bar', title = 'Education Level of Our Clients')
plt.xlabel('Education Level')
plt.ylabel('Number of Clients')
#From the plot, we see that the two largest groups in terms of the education level of our clients are 
#higher education (72,890 clients) and secondary/secondary special (217,499 clients).

In [ ]:
#h. Type of organization where client works
dfOrgSub = df2.groupby(['ORGANIZATION_TYPE'])['ORGANIZATION_TYPE'].count()
dfOrgSub

In [ ]:
fig = plt.figure(figsize=(15,5)) #Improving the display of our graph
dfOrgSub.plot(kind = 'bar', title = 'Organization Type of Our Clients')
plt.xlabel('Organization Type')
plt.ylabel('Number of Clients')
#We have many clients in non-descript categories, e.g., Industry: type n and Trade: type n.
#The three most common categories in terms of organization type are Business Entity Type 3, Self-employed,
#and XNA. It makes sense that many people taking out loans from our company are in the business world and 
#self-employed, perhaps entrepreneurs.

In [ ]:
#i. Family Status of our Clients
dfFamSub = df2.groupby(['NAME_FAMILY_STATUS'])['NAME_FAMILY_STATUS'].count()
dfFamSub

In [ ]:
df2.info()

In [ ]:
dfFamSub.plot(kind = 'bar', title = 'Family Status of Our Clients')
plt.xlabel('Family Status')
plt.ylabel('Number of Clients')
#Note: There are 2 clients whose family status is unknown.
#A majority of our clients (194,368 out of 304,495 or 63.82%) are married.
#The next largest category in terms of family status is single / not married, which makes up
#45,007 out of 304,495 people or 14.78% of our clients.

In [ ]:
#Part 3 complete!

In [ ]:
# 4. Who defaults or has problems replaying loans?
# Create visualizations to show management qualities specific to those who are in default/late.  
# Show three meaningful visualizations.
# Use at least one group/by or bin in your analysis.

In [ ]:
df2.info()

In [ ]:
#a. Loan Defaults by Age Group
dfAgeBinTar = df2.groupby(['Age Bin'],as_index=False)['TARGET'].count()
#dfAgeBinTar2 = df2.groupby(['Age Bin'], as_index=True)['TARGET'].count()

In [ ]:
dfAgeBinTar

In [ ]:
#dfAgeBinTar2

In [ ]:
fig = plt.figure(figsize= (12,5))
plt.bar(dfAgeBinTar['Age Bin'], dfAgeBinTar['TARGET'], color = 'b')
plt.xlabel('Age Groups')
plt.ylabel('Number of Clients')
plt.title('Loan Defaults by Age Group')
#When examining loan defaults by age group, we see that the weights are somewhat normally distributed.
#The age groups with the lowest number of loan defaults are clients between the ages of 20 to 25 and 65 to 70.
#The age group with the highest number of defaults is the 35 to 40 year old age group.

In [ ]:
#b. Loan Defaults by Income Group
dfIncomeBinTar = df2.groupby(['Income Bin'],as_index=False)['TARGET'].count()

In [ ]:
dfIncomeBinTar

In [ ]:
fig = plt.figure(figsize= (12,5))
plt.bar(dfIncomeBinTar['Income Bin'], dfIncomeBinTar['TARGET'], color = 'b')
plt.xlabel('Income Groups')
plt.ylabel('Number of Clients')
plt.title('Loan Defaults by Income Group')
#When examining loan defaults by income group, we see that the income groups with the lowest number of loan 
#defaults are at the tails, that is, clients in the 0-50k (lowest) and the five highest income groups.
#The income group with the highest number of defaults is the 100-150k income group.
#That being said, this correlation should be taken with a grain of salt since we saw above that there is 
#an uneven distribution in the number of clients in terms of income level.

In [ ]:
#c. Loan Defaults by Education Level
dfEduTar = df2.groupby(['NAME_EDUCATION_TYPE'],as_index=False)['TARGET'].count()

In [ ]:
dfEduTar

In [ ]:
fig = plt.figure(figsize= (12,5))
plt.bar(dfEduTar['NAME_EDUCATION_TYPE'], dfEduTar['TARGET'], color = 'b')
plt.xlabel('Education Level')
plt.ylabel('Number of Clients')
plt.title('Loan Defaults by Education Level')

#When examining loan defaults by education level, we see that the group with the highest number of defaults 
#is the secondary/secondary special education group, followed by the higher education group.
#That being said, this conclusion should be taken with a grain of salt since we saw above that there is 
#an uneven distribution in the number of clients in terms of education level.

In [ ]:
#Part 4 complete!

In [ ]:
# 5. Prepare the data for a regression analysis
# The ABC management team has heard that it might be possible to use their data to make predictions.  
#They don’t know much about data analytics. We are hoping that an example of what is possible will help them 
#understand better.
# Prepare the data file to run with a regression analysis. Use the techniques and methods discussed in class.

In [ ]:
import sklearn

In [ ]:
#from sklearn.linear_model import LinearRegression

#Above line commented out because we'll be using LogisticRegression here.

In [ ]:
df2.info()
#Note: The following columns are categorical:
#NAME_CONTRACT_TYPE
#CODE_GENDER
#FLAG_OWN_CAR
#FLAG_OWN_REALTY
#NAME_INCOME_TYPE
#NAME_EDUCATION_TYPE
#NAME_FAMILY_STATUS
#NAME_HOUSING_TYPE
#OCCUPATION_TYPE
#ORGANIZATION_TYPE
#Age Bin
#Income Bin

In [ ]:
df2.head() #Let's examine the dataset again to decide if there are any other columns to drop

In [ ]:
X = df2
#The following are the remaining categorical variables in our dataframe:
#X = X.drop('NAME_CONTRACT_TYPE', axis = 1) #decided to include
#X = X.drop('CODE_GENDER', axis = 1) #included
#X = X.drop('FLAG_OWN_CAR', axis = 1) #included
#X = X.drop('FLAG_OWN_REALTY', axis = 1) #included
#X = X.drop('NAME_INCOME_TYPE', axis = 1) #included
#X = X.drop('NAME_EDUCATION_TYPE', axis = 1) #included
#X = X.drop('NAME_FAMILY_STATUS', axis = 1) #included
#X = X.drop('NAME_HOUSING_TYPE', axis = 1) #included
X = X.drop('OCCUPATION_TYPE', axis = 1) #drop since this column has null data
X = X.drop('ORGANIZATION_TYPE', axis = 1) #drop since there are many unique values
X = X.drop('Age Bin', axis = 1) #drop since we already have an age column
X = X.drop('Income Bin', axis = 1) #drop since we already have a column that surveys income

X = X.drop('REG_REGION_NOT_LIVE_REGION', axis = 1)
X = X.drop('REG_REGION_NOT_WORK_REGION', axis = 1)
X = X.drop('LIVE_REGION_NOT_WORK_REGION', axis = 1)
X = X.drop('REG_CITY_NOT_LIVE_CITY', axis = 1)
X = X.drop('REG_CITY_NOT_WORK_CITY', axis = 1)
X = X.drop('LIVE_CITY_NOT_WORK_CITY', axis = 1)

#Although some of these columns are of interest, we drop them for our Logistic Regression because
#they are categorical variables and they contain many unique values.

#I dropped the REG_REGION, LIVE_REGION, REG_CITY, and LIVE_CITY columns because they did not improve 
#the R^2 value. In part 1, I already dropped the OWN_CAR_AGE column
#because I considerd it irrelevant to the TARGET variable (whether the client defaulted).

In [ ]:
X

In [ ]:
X = pd.get_dummies(X)

In [ ]:
X

In [ ]:
X.info() #be sure that all predictor variables are numerical to prepare for regression

In [ ]:
Y = df2['TARGET'] #We'll use the TARGET variable (whether the client defaulted) as the response variable
X, Y

In [ ]:
#Our X and Y have been defined, now we can fit the model.
#lr = LinearRegression() #instantiate the Linear Regression object
#lr.fit(X,Y)

#Notes from Prof. Feldman Zoom Meeting: Logistic Regression is required here since the TARGET variable
#is binary. (It takes on the two values of 0 and 1.)

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
lr = LogisticRegression() #instantiate the Logistic Regression object
lr.fit(X,Y)

In [ ]:
#Part 5 complete!

In [ ]:
# 6. Run the regression analysis
# Show scoring and a confusion matrix. You do not need to split the data.  Running it as a full dataset is fine.

In [ ]:
#Scoring
lr.score(X,Y) #R squared: 0.9189937437396345
#We see that there is a strong correlation between the predictor variables we left in the dataframe 
#and the TARGET respones variable (whether the client defaulted).

In [ ]:
#Confusion Matrix
pred_test = lr.predict(X)
pred_test

In [ ]:
from sklearn import metrics

In [ ]:
Y

In [ ]:
print(metrics.confusion_matrix(Y, pred_test))

In [ ]:
cmtx = pd.DataFrame(
    metrics.confusion_matrix(Y,pred_test),  
    index=['actual:yes', 'actual:no'], 
    columns=['pred:yes', 'pred:no']
)
print(cmtx)

In [ ]:
#Part 6 & Final Project complete!

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [ ]:
#Exam Practice:
X_train, X_test, y_train,y_test = train_test_split(X,Y, test_size=.3, random_state=42)

In [ ]:
X_train.shape

In [ ]:
X_test.shape

In [ ]:
y_train.shape

In [ ]:
y_test.shape

In [ ]:
#run with the training set
lr.fit(X_train,y_train)

In [ ]:
lr.score(X_train,y_train)

In [ ]:
pred_train = lr.predict(X_train)

In [ ]:
cmtx = pd.DataFrame(
    metrics.confusion_matrix(y_train,pred_train),  
    index=['actual:yes', 'actual:no'], 
    columns=['pred:yes', 'pred:no']
)
print(cmtx)

In [ ]:
##lets do this with the test set now

In [ ]:
lr.fit(X_test,y_test)

In [ ]:
lr.score(X_test,y_test)

In [ ]:
pred_test = lr.predict(X_test)

In [ ]:
cmtx = pd.DataFrame(
    metrics.confusion_matrix(y_test,pred_test),  
    index=['actual:yes', 'actual:no'], 
    columns=['pred:yes', 'pred:no']
)
print(cmtx)